body 
{
    background-color: #536872;
}

h1 
{
    font-family: Georgia, serif;
    color: #ffcc5c; 
    text-align: center;
    margin-top: 20px;
}

h2 
{
    font-family: Georgia, serif;
    color: #ffcc5c; 
    text-align: center;
    margin-top: 150px;
}

h3
{
   font-family: Georgia, serif;
    color: #ffcc5c; 
    padding-top: 50px;
    text-align: center;
    display: block;
    
}

h6
{
   font-family: Georgia, serif;
    color: #ffcc5c; 
    padding-top: 0px;
    text-align: center;
    display: block;
    font-size: 20px;
}

p 
{
    font-family: "Courier New", monospace;
    font-size: 20px;
}

.p1 
{
    color: #d68913; 
    text-align: center;
    padding-left: 5%; 
    padding-right: 5%;
}

iframe
{
    padding-top: 150px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.frameL
{
    padding-left: 20%;
}

.frameR
{
    padding-right: 20%;
}

.tracks
{
    
}

.one
{
    padding-top: 25px;
}

.button 
{
    background-color: #AA503B;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Georgia, serif;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.button:hover 
{
    background-color: #914432; 
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.buttonL
{
    float:left;
}

.buttonR
{
    float:right;
}

.disabled 
{
    opacity: 0.6;
    cursor: not-allowed;
}

.active 
{
    background-color: #3b95aa;
}