/* Navigation Pane */
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
}

li a:hover
{
    background-color: #111;
}


.leftFloat
{
    float: left;
}

.RighFloat
{
    float: right;
}

/* Body Styling */
body
{
  background: #97B5BF;
}
